<div id="client-name">
  <h1>Application Details: <%= @client.name.capitalize %></h1>
</div>
<br/>
<br/>
<div class="center-align">
  <h3 id="events-index-header">
    <a id="events-index-button" class="waves-effect waves-red btn-large" href="/sources/<%= @client.name %>/events"><%= "#{@client.name.capitalize} Events Index" %></a>
  </h3>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container">
    <div id="url-request-table" class="card red darken-1 z-depth-1">
      <%= erb :'partials/_url_requests_table' %>
      <br/>
      <br/>
    </div>
  </div>
  <br/>
  <div class="container">
    <div id="user-agent-table" class="card red darken-1 z-depth-1">
      <%= erb :'partials/_browser_and_os_table' %>
      <br/>
      <br/>
    </div>
  </div>
  <br/>
  <div class="container">
    <div id="response-time-table" class="card red darken-1 z-depth-1">
      <%= erb :'partials/_url_response_times_table' %>
      <br/>
      <br/>
    </div>
  </div>
  <br/>
  <div class="container">
    <div id="paths-table" class="card red darken-1 z-depth-1">
      <%= erb :'partials/_urls_table' %>
      <br/>
      <br/>
    </div>
    <br/>
  </div>
