<h1 id="page-title">URL Details for: <%= @path_requested %></h1>
<br/>
<br/>
<div class="center-align">
  <div class="container">
    <div id="response-time-table" class="card red darken-1 z-depth-1">
      <%= erb :'partials/_url_details_response_times' %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <br/>
  <div class="container">
    <div id="request-type-table" class="card red darken-1 z-depth-1">
      <%= erb :'partials/_http_request_types' %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <br/>
  <div class="container">
    <div id="referrals-table" class="card red darken-1 z-depth-1">
      <%= erb :'partials/_referrals_table' %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <br/>
  <div class="container">
    <div id="top-user-agents-table" class="card red darken-1 z-depth-1">
      <%= erb :'partials/_top_user_agents' %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
