<h1>URL Details for: <%= @path_requested %></h1>

<div class="center-align">
  <div class="container">
    <div class="z-depth-1">
      <%= erb :'partials/_url_details_response_times' %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <!-- <div class="parallax-container">
    <div class="container">
      <div class="parallax">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Eye_iris.jpg">
      </div>
    </div>
  </div>   -->
  <div class="container">
    <div class="z-depth-1">
      <%= erb :'partials/_http_request_types' %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="z-depth-1">
      <%= erb :'partials/_referrals_table' %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="z-depth-1">
      <%= erb :'partials/_top_user_agents' %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
</div>
